
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row text-center mt-2">
                <h3 class="font-monospace" style="font-weight:bold">Administraion Login</h3>
            </div>
            <div class="row g-3 mt-3 d-flex align-items-end flex-column">
                   
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                        <label for="" class="form-label font-monospace">Username</label>
                        <input type="text" placeholder="username" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 ">
                        <label for="" class="form-label font-monospace">Password</label>
                        <input type="password" placeholder="password" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 text-center ">
                        <button class="btn btn-dark font-monospace py-1" routerLink="/">Login</button>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 text-center">
                        <a href="" class="text-primary font-monospace" routerLink="signin">User SignUp</a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 text-center">
                        <a class="text-primary font-monospace" routerLink="/signup">User SignIn</a>
                    </div>
           
            </div>
        </div>
    </div>
</div>