<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-2 d-flex align-items-center flex-column">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 class="font-monospace" style="font-weight:bold"> Book Issue</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Name</label>
                    <input type="text" placeholder="Type book title" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Book Title</label>
                    <input type="text" placeholder="Type book title" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Date of Issue</label>
                    <input type="text" placeholder="Type book title" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label font-monospace">Membership Number</label>
                    <input type="text" placeholder="Type book title" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-dark font-monospace">Issue </button>
                </div>
            </div>
        </div>
    </div>
</div>